* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}
.wrapper {
  width: 400px;
  padding: 20px 0;
  border-radius: 2%;
  background: rgb(254, 190, 154);
  background: linear-gradient(
    90deg,
    rgba(254, 190, 154, 1) 19%,
    rgba(254, 137, 130, 1) 46%,
    rgba(248, 140, 155, 1) 72%
  );
  position: relative;
}
.wrapper::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: 55%;
  opacity: 0.5;
  right: -1%;
  border-radius: 50%;
  background-color: white;
}
.wrapper::after {
  top: -9%;
  right: -24%;
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: white;
}
.title {
  position: relative;
  width: 300px;
}
.money {
  margin: 25px 0 50px;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
.title::after {
  content: url("../img/chart-line.svg");
  vertical-align: middle;
  position: absolute;
  left: 100%;
}

.content {
  margin-left: 25px;
  margin-top: 30px;
}
